<% if current_user.borrow?(@book) %>
    <%= form_tag(back_book_path) do %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= submit_tag '返却', class: 'btn btn-success' %>
    <% end %>
<% elsif @book.user_id == nil %>
    <%= form_tag(borrow_book_path) do %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= submit_tag '貸出', class: 'btn btn-primary' %>
    <% end %>
<% else %>
     <button type="button" class="btn btn-default">貸出中</button>
<% end %>