<%= stylesheet_link_tag "book", :media => "all" %>
<div class="clearfix">
	<div class="inner clearfix"><img src="<%= @book.image_url %>" alt=""></div>
	<p>タイトル：<%= @book.title %></p>
	<p>著者:<%= @book.author %></p>
	<p>出版社：<%= @book.publisher_name %></p>
	<p>出版日：<%= @book.published_date %></p>
	<p>ISBN：<%= @book.isbn %></p>
	<p>図書館登録日：<%= @book.created_at %></p>

	<%= render 'books/borrow_button' %>
</div>